{% extends 'news/base.html' %}

{% load static %}

{% load i18n %}

{% block title %}
{% blocktrans %} login sahifasi {% endblocktrans %}
{% endblock title %}

{% block content %}
  <h2 class="text-center">{% blocktrans %} veb-seytga kirish {% endblocktrans %}</h2>
  <p class="text-center">{% blocktrans %} iltimos saytga kirish uchun quyidagi formani to'ldiring {% endblocktrans %}</p>
  <h5>{% blocktrans %} agar parolni unutgan bo'lsangiz {% endblocktrans %} >><a href="{% url 'password_reset' %}">{% blocktrans %}  parolni tiklash {% endblocktrans %}</a></h5>
  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% blocktrans %} login {% endblocktrans %}</button>

  </form>

  <h4>{% blocktrans %} Agar foydalanuvchi profilingiz bo'lmasa {% endblocktrans %}<a href="{% url 'user_register' %}">{% blocktrans %} ro'yhatdan o'tishingiz {% endblocktrans %}</a>{% blocktrans %} mumkin {% endblocktrans %}</h4>
{% endblock content %}