{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% blocktrans %} parolni tiklash {% endblocktrans %}
{% endblock title %}
{% block content %}

<h1>{% blocktrans %} parolni o'zgartirish {% endblocktrans %}</h1>
<p>{% blocktrans %} parolni o'zgartirish uchun quyidagi formani to'ldiring {% endblocktrans %}</p>
<form method="post"> {% csrf_token %}
    {{ form.as_p }}
    <p><button type="submit">{% blocktrans %} parolni almashtirish {% endblocktrans %}</button></p>
</form>

{% endblock content %}