{% extends 'news/base.html' %}

{% load static %}

{% block title %} foydalanuvchi parolini tiklash {% endblock title %}
{% block content %}

<h1> parolni tiklash </h1>
<p>parolingiz o'zgarishi uchun quyidagi formani to'ldiring</p>
{% if validlink %}
   <p>yangi parolni kiriting</p>
      <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit">parolni almashtirish</button></p>
       </form>
{% else %}
<p> siz  noto'g'ri linkdan foydalandingiz u avvalroq foydalangan bo'lishi vaishlatilish vaqti o'tib ketgan bo'lishi mumkin</p>
{% endif %}


{% endblock content %}