{% extends 'news/base.html' %}

{%load static %}
{% load i18n %}

{% block title %}
{% blocktrans %} foydalanuvchi parolini tiklash {% endblocktrans%}
{% endblock title %}
{% block content %}

<h1>{% blocktrans%} parolni tiklash {% endblocktrans%}</h1>
<p>{% blocktrans%} parolingiz o'zgarishi uchun quyidagi formani to'ldiring {% endblocktrans%}</p>
{% if validlink %}
   <p>{% blocktrans%} yangi parolni kiriting {% endblocktrans%}</p>
      <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit">{% blocktrans%} parolni almashtirish {% endblocktrans%}</button></p>
       </form>
{% else %}
<p>{% blocktrans%} siz  noto'g'ri linkdan foydalandingiz u avvalroq foydalangan bo'lishi vaishlatilish vaqti o'tib ketgan bo'lishi mumkin {% endblocktrans%}</p>
{% endif %}


{% endblock content %}