{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% blocktrans%} parolni tiklash{% endblocktrans%}
 {% endblock title %}
{% block content %}

<h1>{% blocktrans%} parolni tiklash {% endblocktrans%}</h1>
<p>{% blocktrans%} parolni tiklash uchun email adresingizni kiriting {% endblocktrans%}</p>
<form method="post"> {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% blocktrans%} email jo'natish {% endblocktrans%}</button>
</form>

{% endblock content %}