{% extends 'news/base.html' %}

{% load static %}

{% load i18n %}

{% block title %}{{ news.title }}{% endblock title %}

{% block content %}

<h2 class="text-center">{% blocktrans %} joriy yangilikni o'chirish {% endblocktrans %}</h2>
<form method="post">{% csrf_token %}
    <p>{{ news.title | truncatewords:4 }}.....{% blocktrans %} sarlavhali yangilikni o'chirish {% endblocktrans %}</p>
    <button type="submit" class="btn btn-danger ml-2">{% blocktrans %} o'chirish {% endblocktrans %}</button>
</form>

{% endblock content %}